<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BMIArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月1日</string>
				<key>value</key>
				<real>20.2</real>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月1日</string>
				<key>value</key>
				<real>25.1</real>
			</dict>
		</array>
		<key>headcArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月1日</string>
				<key>headc</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年6月1日</string>
				<key>headc</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月1日</string>
				<key>headc</key>
				<integer>42</integer>
			</dict>
		</array>
		<key>weightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月1日</string>
				<key>weight</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年6月1日</string>
				<key>weight</key>
				<real>13.2</real>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月1日</string>
				<key>weight</key>
				<real>14.9</real>
			</dict>
		</array>
		<key>heightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月1日</string>
				<key>height</key>
				<integer>68</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年6月1日</string>
				<key>height</key>
				<integer>72</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年11月1日</string>
				<key>height</key>
				<integer>77</integer>
			</dict>
		</array>
		<key>icon</key>
		<string>小孩2</string>
		<key>sex</key>
		<string>男</string>
		<key>age</key>
		<string>2015年6月1日</string>
		<key>name</key>
		<string>张三三</string>
		<key>ChildId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>BMIArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2014年12月30日</string>
				<key>value</key>
				<real>21.1</real>
			</dict>
		</array>
		<key>headcArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2014年12月3日</string>
				<key>headc</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年12月2日</string>
				<key>headc</key>
				<integer>42</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月4日</string>
				<key>headc</key>
				<integer>45</integer>
			</dict>
		</array>
		<key>weightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月3日</string>
				<key>weight</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年4月4日</string>
				<key>weight</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月5日</string>
				<key>weight</key>
				<integer>16</integer>
			</dict>
		</array>
		<key>heightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年6月1日</string>
				<key>height</key>
				<integer>70</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年12月1日</string>
				<key>height</key>
				<integer>76</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月1日</string>
				<key>height</key>
				<integer>87</integer>
			</dict>
		</array>
		<key>icon</key>
		<string>小孩1</string>
		<key>sex</key>
		<string>女</string>
		<key>age</key>
		<string>2014年12月1日</string>
		<key>name</key>
		<string>张四四</string>
		<key>ChildId</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>BMIArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月1日</string>
				<key>value</key>
				<real>23.2</real>
			</dict>
		</array>
		<key>headcArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2014年12月2日</string>
				<key>headc</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年12月3日</string>
				<key>headc</key>
				<integer>52</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月4日</string>
				<key>headc</key>
				<integer>53</integer>
			</dict>
		</array>
		<key>weightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2016年12月5日</string>
				<key>weight</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年4月4日</string>
				<key>weight</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年12月3日</string>
				<key>weight</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>heightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2014年2月1日</string>
				<key>height</key>
				<integer>74</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年2月1日</string>
				<key>height</key>
				<integer>78</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2013年2月2日</string>
				<key>height</key>
				<integer>70</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年2月1日</string>
				<key>height</key>
				<integer>88</integer>
			</dict>
		</array>
		<key>icon</key>
		<string>小孩3</string>
		<key>sex</key>
		<string>男</string>
		<key>age</key>
		<string>2012年12月2日</string>
		<key>name</key>
		<string>张五五</string>
		<key>ChildId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>BMIArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2016年12月1日</string>
				<key>value</key>
				<real>21.3</real>
			</dict>
		</array>
		<key>headcArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2013年12月12日</string>
				<key>headc</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2014年12月2日</string>
				<key>headc</key>
				<real>50.2</real>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年12月3日</string>
				<key>headc</key>
				<integer>51</integer>
			</dict>
		</array>
		<key>weightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年12月3日</string>
				<key>weight</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2014年12月1日</string>
				<key>weight</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年12月2日</string>
				<key>weight</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>heightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2015年2月1日</string>
				<key>height</key>
				<integer>84</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2016年2月1日</string>
				<key>height</key>
				<integer>88</integer>
			</dict>
		</array>
		<key>icon</key>
		<string>小孩3</string>
		<key>sex</key>
		<string>男</string>
		<key>age</key>
		<string>2012年12月2日</string>
		<key>name</key>
		<string>张五六</string>
		<key>ChildId</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>BMIArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2003年12月2日</string>
				<key>value</key>
				<real>17.2</real>
			</dict>
		</array>
		<key>headcArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2003年6月5日</string>
				<key>headc</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2002年12月6日</string>
				<key>headc</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2004年12月3日</string>
				<key>headc</key>
				<integer>46</integer>
			</dict>
		</array>
		<key>weightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2005年12月1日</string>
				<key>weight</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2008年12月1日</string>
				<key>weight</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2010年12月2日</string>
				<key>weight</key>
				<real>31.5</real>
			</dict>
		</array>
		<key>heightArr</key>
		<array>
			<dict>
				<key>time</key>
				<string>2003年2月2日</string>
				<key>height</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2004年2月1日</string>
				<key>height</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2005年2月1日</string>
				<key>height</key>
				<integer>78</integer>
			</dict>
			<dict>
				<key>time</key>
				<string>2015年2月1日</string>
				<key>height</key>
				<integer>135</integer>
			</dict>
		</array>
		<key>icon</key>
		<string>小孩3</string>
		<key>sex</key>
		<string>男</string>
		<key>age</key>
		<string>2002年12月2日</string>
		<key>name</key>
		<string>张六六</string>
		<key>ChildId</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
