<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>身高明显过矮，请结合匀称性来判断是否异常。如近几次测量值都在3%以下，建议咨询医生或到正规医院儿科面诊，查明原因。</string>
		<string>发育不太理想，身高偏矮，属于中下等，请保持持续观察。</string>
		<string>身高稍矮，属于中下等。身高单项指标不是很好时，须结合匀称性结果判断是否异常。</string>
		<string>身高属于中等，基本在平均水平。</string>
		<string>身高较高，属于中上等，发育较早。</string>
		<string>身高偏高，属于中上等。</string>
		<string>身高显著偏高。</string>
	</array>
	<array>
		<string>体重明显过轻。如近几次测量值都在3%以下，建议咨询医生或到正规医院儿科面诊，查明原因。</string>
		<string>体重属于中下等，体重有些过轻，由于单项指标偏低，需要进一步关注匀称性的评估结果。</string>
		<string>体重属于中下等，体重偏轻，由于单项指标偏低，需要进一步关注匀称性的评估结果。</string>
		<string>体重属于中等，体重基本在平均水平。</string>
		<string>体重属于中上等，相对稍微重一些，可结合匀称性指标判断是否要注意。</string>
		<string>体重属于中上等，有些过重，需要进一步关注匀称性指标。</string>
		<string>体重已明显超标，须结合匀称性结果判断是否异常。如近期测量值均在97%以上，说明体重发育异常，建议咨询医生，查明原因。</string>
	</array>
	<array>
		<string>头围显著偏小，建议尽快咨询医生，必要时就诊查明原因，排除疾病情况，以免影响智力发育。</string>
		<string>头围偏小，属于中下水平，建议及时咨询医生，并持续观察。以免影响智力发育。</string>
		<string>头围属于中等偏小水平，请保持持续观察，若继续下降，及时咨询医生。</string>
		<string>头围属于中等水平，发育良好，请保持持续观察。</string>
		<string>头围属于中等偏大水平，请保持持续观察，若有突然增加，可咨询医生。</string>
		<string>头围较大，属于中上等。需要时可咨询医生，并持续观察，如有后续变化可及时发现问题。</string>
		<string>头围显著偏大。建议尽快咨询医生，必要时就诊查明原因，排除疾病情况，以免影响智力发育。</string>
	</array>
	<array>
		<string>体型过于消瘦，建议尽快咨询医生或正规医院就诊，查明原因。</string>
		<string>体型已显消瘦，建议密切观察发育趋势，进一步咨询医生，查找原因。</string>
		<string>体型发育属于中等略瘦水平，发育较好，请保持持续观察。</string>
		<string>体型发育属于中等水平，发育良好，请保持持续观察。</string>
		<string>体型发育属于中等略壮水平，发育良好，请保持观察。</string>
		<string>体型已显肥胖，建议密切观察发育趋势，进一步咨询医生，查找原因。</string>
		<string>体型过于肥胖，建议咨询医生或正规医院就诊，查明原因。</string>
	</array>
	<string>      “中位数”，表示处于人群的平均水平。如果在“-1SD~中位数~+1SD”即：中位数上下一个标准差范围之内，属于“正常范围”，代表了68%的儿童。       如果在“-2SD~-1SD或者+1SD~+2SD”即：中位数上下两个标准差范围之内，则定义为“偏矮（高）”，代表了27.4%的儿童。       如果在“-3SD~-2SD或者+2SD~+3SD”即：中位数上下三个标准差之内，则定义为“矮（高）”，代表了4.6%的儿童。       极少儿童在三个标准差(&lt;-3SD&gt;+3SD)之外（比例小于0.5%）。</string>
	<array>
		<string>      “中位数”，表示处于人群的平均水平。如果在“-1SD~中位数~+1SD”即：中位数上下一个标准差范围之内，属于“正常范围”，代表了68%的儿童。</string>
		<string>       如果在“-2SD~-1SD或者+1SD~+2SD”即：中位数上下两个标准差范围之内，则定义为“偏矮（高）”，代表了27.4%的儿童。</string>
		<string>      如果在“-3SD~-2SD或者+2SD~+3SD”即：中位数上下三个标准差之内，则定义为“矮（高）”，代表了4.6%的儿童。</string>
		<string>      极少儿童在三个标准差(&lt;-3SD&gt;+3SD)之外（比例小于0.5%）。</string>
	</array>
</array>
</plist>
