<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>新生儿生理保健提示</string>
		<key>icon</key>
		<string>check</string>
		<key>text</key>
		<string>1、90%时间在睡眠 2、安静、觉醒时可注意人脸，有反应性微笑  3、哭声响亮、婉转，哭无泪，哭时整个身体动 4、能注视眼前15-20cm远的较大物体，可追视红色或颜色对比鲜明的条纹圆球 5、红线球可跟至中线 6、对声音有反应，轻轻拍掌可使全身活动减少或哭声停止。在耳边轻声呼唤会转脸看你 7、不规则、不协调的四肢舞动，紧握拳，若把东西放在手里能不自觉的握住 8、新生儿期不能抬头，当满月时俯卧能短暂抬头</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、俯卧时能抬头45-90度，直立时头可竖起。 2、能自发微笑，有面部表情，认识妈妈，喜欢听音乐。 3、手握拳姿势开始松开，能摸东西；双手能在胸前握在一起玩；能把手放在口里。 4、能咿呀发音，发出响亮笑声，高声叫。 5、跟踪眼前物体过中线至180度。目光追随桌上滚过的球；寻找视野中消失的东西。 6、伸手够摇晃的环；能握住摇荡鼓。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>3个月小儿生理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、4个月拉坐，5个月靠坐，6个月独坐片刻；能翻身，俯卧时双手可支撑起前半身。 2、能看4-7米远，有目的地伸手抓面前的东西，坐位能寻找线团，拉绳取圆环，知道找丢了的玩具；玩自己的手。 3、伸手够积木时，手眼协调；伸手要物。 4、逗乐发出大的笑声；接近镜像对镜微笑：能喃喃发音。 5、能分辨熟人和生人。会玩藏猫猫的游戏。 6、能自己吃饼干。  7、能寻找声源或看电视。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>6个月小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、能较久的独坐，会坐起后躺下，扶栏杆能站起来，能用一只腿支撑体重片刻。 2、能爬行，爬行时能转身，能寻取远处的玩具；对探索周围的环境有极大的兴趣。 3、两手传递玩具、敲打玩具能抛掷，滚动玩具。 4、无意识发爸爸妈妈声，可重复大人所发出的单音节；能听懂自己的名字。能注意周围人的表情，分辨微笑或生气。 5、喜欢听音乐，能随音乐节拍舞动。 6、玩拍手游戏；能挥手再见。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>9个月小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、逐渐由扶走到独走，能弯腰捡东西。 2、能把书打开合上，会用拇指食指钳取小丸：学拿笔；能从玩具箱中拿出，放进玩具。 3、会叫爸爸妈妈，开始认识身体部位名称，如手、眼、鼻、口及常见物品名称如灯、娃娃。 4、能听懂“给我”等简单的语句；边玩边说意义不清的话语。  5、在大人帮助下能用杯喝水、用匙吃东西，能取来大人所指的东西。 6、能用手指抠小孔或小洞洞；能故意把东西扔掉又拣起来。 7、能和大人合作游戏、玩球。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>12个月小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、行走稳，能独脚站，能倒退着走；会蹲着玩，扶着栏杆能爬台阶。 2、翻书一次2-3页，能叠3-4块积木：自发乱涂画；能用力掷球。 3、能模仿做家务。 4、知道自己的名字；指出身体各部位的名称；能说出熟悉物品的名称如“帽子”、“袜子”，能说2-3个字的简单语句。 5、能区分妈妈和阿姨；能听懂简单的命令如扔球等。 6、能自己吃饭，但泼洒仍较多。 7、吮拇指习惯达高峰。 8、喜欢把东西集中起来。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>1岁6个月小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>check</string>
		<key>text</key>
		<string>1、步态稳，能顺利上下楼梯；会跑，但动作较僵硬；会双脚跳；能蹋球，会骑三轮车。 2、用匙吃饭动作渐熟练。一只手拿杯喝水，能 模仿画直线，泼洒渐少。 3、能叠6—7块积木、拼插玩具，能一页一页地 翻书，能去掉外衣。 4、能使用双字词说简单 的话如“我吃饭”，“妈妈抱”，“我上街”等；说话具有音调。 5、能按大人吩咐做简单的事，如拣起地上的东西；学着把东西收拾好。 6、能表达喜、怒、怕；好模仿成人动作。</string>
		<key>name</key>
		<string>2岁小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、身体较灵活，独足站1秒钟，能从台阶上跳下。 2、知道常见物品如杯子、匙子、梳子的用途。 3、能叙述发生过的简单事件；会说简单儿歌。 4、能认识红黄绿颜色，开始分辨简单的图形。 5、开始愿帮大人做事情；能捡小豆豆。 6、能集中注意10分钟。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>2岁6个月时小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、动作敏捷，能快跑，能用脚尖走几步；能跳远，能从平地跳上台阶。 2、会洗手、洗脸。执笔如成人；会模仿画圈；能搭8层塔。 3、自己吃饭已较干净；会穿鞋，会扣纽扣，解扣。 4、能知道并用代名词如 “你、我、他”。知道自己性别，年龄，有自尊心， 同情心，知道怕羞。 5、能说唱短歌谣，数3个数。已开始爱发问。 6、玩交往游戏如捉人游戏等。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>3岁小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、会单脚跳，能自行穿、脱衣服。 2、会模仿画十字，画方形，会画简单的人像；会剪图片。 3、会唱歌，跳简单的舞蹈；会讲小故事；会向外讲家里的事。 4、喜欢思考问题，好问、爱听故事。 5、能够分清上面和下面，能分辨两条线的长短，能数到3以上的数。 6、可较长时间离开大人，愿与小朋友一起玩耍。 7、知道冷、饿、累。 8、主要玩有想象力和惊奇的游戏。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>4岁小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、会跳绳，会双脚并起跳跃、荡秋千；能从3级或4级台阶上跳下。 2、会模仿画三角形；画人像有头、躯干、四肢、 五官可不齐全。 3、会数自己手指，能认简单的字。 4、知道一星期中的日子；会数1-10。 5、听完故事后能复述故事内容。 6、对事物、人物感兴趣，仍然好问，对新的词汇有浓厚的兴趣，要求了解其含义。 7、开始懂礼貌，对物品归类。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>5岁小儿生理心理保健提示</string>
	</dict>
	<dict>
		<key>text</key>
		<string>1、身体平衡能力较好。能胜任简单的劳动，如扫地、擦桌子，能折线、剪纸、泥塑，结毛线等。 2、会写简单的字，可数十几个数至一百多，会做简单的加减法；会画人像。 3、能区分早晨和下午，能分辨左右；能区别昨天、今天、明天，知道一年四季的名称，能区分酸、甜、苦、辣、咸等味道。 4、喜欢做自己乐意的事。 5、能背儿歌、背诵诗词。 6、会聊天、打架；出现紧 张性行为如踮脚尖走，咬指甲等。</string>
		<key>icon</key>
		<string>check</string>
		<key>name</key>
		<string>6岁小儿生理心理保健提示</string>
	</dict>
</array>
</plist>
